.grid {
    border: 1px solid black;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 60px;
    width: 60px;
}

.block {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.block div {
    height: 20px;
    width: 20px;
}

.square {
    background-color: black;
}