.frog {
    background-color: green;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.frog div {
    height: 40px;
    width: 40px;
}

.tongue {
    background-color: red;
}

.shade {
    background-color: black;
}