.grid {
    border: 1px solid;
    height: 240px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    border: 1px solid;
    height: 32.4px;
    width: 32.4px;
    padding: 3px;
}

.box div {
    border: none;
    height: 25px;
    width: 25px;
}

#hidden {
    border: 1px white;
    margin: 0.8px;
}

.player-one {
    border: 1px solid;
    background-color: red;
    border-radius: 50%;
}

.player-two {
    border: 1px solid;
    background-color: blue;
    border-radius: 50%;
}